.App {
    margin-top: 7%;
}

.wrapper {
    margin: 0 auto;
    max-width: 270px;
}

label {
    display: flex;
    justify-content: space-between;

}

.filter p {
    text-align: center;
}

.inputContainer {
    margin-top: 10px;

}

.checkBoxContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 22%;
}

.checkBoxContainer label {
    display: flex;
    align-items: center;
}

.checkBoxContainer input {
    padding: 0;
    margin: 0;
}

.checkBoxContainer label span {
    font-size: 16px;
    line-height: 16px;
    margin-left: 5px;
}

.users {
    margin-top: 30px;

}

.user {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px dashed lightgray;
}

.user:last-child {
    border-bottom: 1px dashed lightgray;
}

.userName {
    display: flex;
}

.userLastName {
    margin-left: 10px;
}
